body {
    font-family: 'Roboto', sans-serif;
}
a, button {
    transition: all .3s linear;
}
a:focus, a:hover {
    text-decoration: none;
}
.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-background {
    background-image: url('../images/header_back.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding: 20px 40px;
    position: relative;
}
.header-logo a{
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}
.logo-img-block {
    min-width: 54px;
    height: 65px;
}
.header-logo {
    position: relative;
    width: 230px;
}
.header-logo-white a {
    color: #fff;
}
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.logo-img-block img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-text-block {
    max-width: 216px;
    margin-left: 16px;
}
.nav-item a {
    color: #fff;
    border-bottom: 2px solid transparent;
}
.nav-item a:hover, .nav-item a:focus {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.button-page-item {
    color: #0f3a4b;
    background-color: #fff;
    border-radius: 35px;
    border: 2px solid #fff;
    padding: 4px 20px;
}
.button-page-item:hover {
    color: #fff;
    background-color: transparent;
}
.overlay-black {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
}
.main-title, .sub-mine-title {
    color: #fff;
    position: relative;
    width: 533px;
    margin-bottom: 20px;
}
.sub-mine-title {
    margin-bottom: 40px;
}
.main-title {
    margin-top: 33%;
}
.navbar-nav {
    margin-right: 60px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
.top-page-block {
    margin-bottom: 60px;
}
.main-about-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.subtitle-about {
    font-weight: bold;
    color: #0f3a4b;
}
.subtitle-about-text {
    color: #8d8d8d;
    margin-bottom: 40px;
}
.about-block-text {
    width: 34%;
}
.about-block-numbers {
    width: 50%;
}
.about-block-num-item {
    display: flex;
    align-items: center;
    color: #8d8d8d;
    border-top: 1px solid #8d8d8d;
    padding: 25px 0;
}
.about-block-num-item-bold {
    color: #0f3a4b;
    font-weight: bold;
    font-size: 24px;
    width: 240px;
}
.video-main-block a {
    color: #0f3a4b;
    border: 1px solid #0f3a4b;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
}
.video-main-block a:hover {
    background-color: #0f3a4b;
    color: #fff;
}
.video-main-block {
    position: relative;
}
.play-icon-video {
    position: absolute;
    left: 67px;
    top: -15px;
    font-size: 20px;
    color: #0f3a4b;
}
.play-icon-video i {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 18px;
    width: 18px;
}
.about-block-num-item:last-child {
    border-bottom: 1px solid #0f3a4b;
}
@media(max-width: 1199px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .about-block-text {
        width: 46%;
    }
}
@media(max-width: 991px) {
    .navbar-nav {
        flex-wrap: wrap;
    }
    .navbar-nav {
        margin-right: 30px;
        justify-content: flex-end;
    }
}
@media(max-width: 767px) {
    .main-title, .sub-mine-title {
        width: 100%;
    }
    .navbar-toggler {
        padding: 8px;
        border: 2px solid #fff;
        top: -60px;
        position: absolute;
    }
    .navbar-toggler .icon-bar {
        background-color: #fff;
        margin: 4px 0;
    }
    .navbar {
        justify-content: end;
    }
    .header-background {
        padding: 20px;
    }
    .header-page {
        flex-wrap: wrap;
    }
    .navbar {
        width: 100%;
    }
    .main-about-block {
        flex-wrap: wrap;
    }
    .about-block-text, .about-block-numbers {
        width: 100%;
        margin-bottom: 40px;
    }
}
@media(max-width: 500px) {
    .about-block-num-item-bold, .about-block-num-item-text {
        width: 49%;
    }
    .about-block-num-item {
        justify-content: space-between;
    }
}